services:
  # Minecraft Bedrock Dedicated Server
  bedrock:
    image: itzg/minecraft-bedrock-server
    container_name: minecraft-bedrock
    restart: unless-stopped
    ports:
      - "127.0.0.1:19133:19133/udp"
      - "127.0.0.1:19134:19134/udp"
    environment:
      EULA: "TRUE"
      SERVER_NAME: "Burnodd Land"
      GAMEMODE: creative
      DIFFICULTY: normal
      ALLOW_CHEATS: "true"
      CONTENT_LOG_CONSOLE_OUTPUT_ENABLED: "true"
      MAX_PLAYERS: 10
      VIEW_DISTANCE: 16
      LEVEL_NAME: "Burnodd Land"
      SERVER_PORT: 19133
      SERVER_PORT_V6: 19134
    volumes:
      - bedrock-worlds:/data/worlds
      - ./bedrock/behavior_packs:/data/behavior_packs
    stdin_open: true
    tty: true

volumes:
  bedrock-worlds:
